<!doctype html>
<html lang="en">
<div th:insert="~{/partials/head :: head}"></div>
<body>
<style>
    .centered-text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
</style>
<div th:insert="~{/partials/navbar :: navbar}"></div>
<div class="centered-text" th:object="${user}">
    <table>
        <tbody>
        <!--Имя пользователя-->
        <tr>
            <td>
                <span style="font-weight: bold">Имя пользователя: </span>
                <span th:text="*{username}"></span> (<a
                    th:href="@{/change-username}">Изменить</a>)
            </td>
        </tr>
        <!--Электронный адрес-->
        <tr>
            <td>
                <span style="font-weight: bold">Электронный адрес: </span>
                <span th:text="*{email}"></span> <br>
            </td>
        </tr>
        <!--Роль-->
        <tr>
            <td>
                <span style="font-weight: bold">Роль: </span>
                <span th:text="*{roles.stream().findFirst().get()}"></span> <br>
            </td>
        </tr>
        </tbody>

    </table>
</div>
<div th:insert="~{/partials/footer :: footer}"></div>
</body>
</html>