<!doctype html>
<html lang="en">
<div th:insert="~{/partials/head :: head}"></div>
<body>
<style>
    .centered-form {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
</style>

<div th:insert="~{/partials/navbar :: navbar}"></div>
<div class="centered-form">
    <form th:action="@{/sign-in}" th:method="post">
        <div th:if="${success}" th:text="${success}" style="color: green"></div>
        <div th:if="${param.error}" style="color: red">
            <th:block th:switch="${param.error.get(0)}">
                <div th:case="|LockedException|" th:text="'Учетная запись заблокирована!'"></div>
                <div th:case="|BadCredentialsException|" th:text="'Неправильное имя пользователя или пароль!'"></div>
                <div th:case="|InternalAuthenticationServiceException|" th:text="'Пользователя не существует!'"></div>
            </th:block>
        </div>
        <div class="form-row mb-3">
            <!--Username-->
            <div class="form-group col-lg-12">
                <label for="username">Имя пользователя</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="test">
            </div>
        </div>
        <div class="form-row mb-3">
            <!--Password-->
            <div class="form-group col-lg-12">
                <label for="password">Пароль</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="12345678">
            </div>
        </div>

        <div class="form-row mb-3">
            <button type="submit" class="btn btn-dark">Войти</button>
        </div>
    </form>
</div>
<div th:insert="~{/partials/footer :: footer}"></div>
</body>
</html>