<!doctype html>
<html lang="en">
<div th:insert="~{/partials/head :: head}"></div>
<body>
<div th:insert="~{/partials/navbar :: navbar}"></div>
<div th:if="${favourites.isEmpty()}" class="row justify-content-center"
     style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div class="alert alert-warning col-6" role="alert">
        Список избранных вакансий пуст!
    </div>
</div>

<div class="container mt-5" th:if="${!favourites.isEmpty()}">
    <div class="row justify-content-center mt-9 col-lg-12">
        <table class="table table-hover">
            <h2>Избранное</h2>
            <thead>
            <tr class="table-dark">
                <td></td>
                <td>Название</td>
                <td>Дата публикации</td>
                <td>Компания</td>
                <td>График работы</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <div th:if="${error}" th:text="${error}" style="color: red"></div>
            <div th:if="${success}" th:text="${success}" style="color: green"></div>
            <tr th:unless="${#lists.isEmpty(favourites)}" th:each="favourite : ${favourites}" style=" border-bottom: transparent">
                <!--Картинка-->
                <td class="d-flex justify-content-center align-items-center">
                    <img th:src="${favourite.logo}" alt="Не удалось загрузить изображение"
                         style="max-height: 50%; max-width: 50%;">
                </td>
                <!--Название-->
                <td>
                    <a th:href="${favourite.source}" th:text="${#strings.abbreviate(favourite.title, 20)}"
                       target="_blank"></a>
                </td>
                <!--Дата публикации-->
                <td th:text="${favourite.date}"></td>
                <!--Компания-->
                <td th:text="${favourite.company}"></td>
                <!--График работы-->
                <td th:text="${#strings.abbreviate(favourite.schedule, 20)}"></td>
                <!--Ссылка на вакансию-->
                <td>
                    <!--Картинка-->
                    <form th:action="@{/favourites/{id}(id=${favourite.id})}" th:method="post">

                        <button type="submit" style="background: none; border: none">
                            <img class="card-img-top" th:src="@{/images/red-cross.png}"
                                 alt="Не удалось загрузить изображение"
                                 style="color: white; max-height: 5%; max-width: 5%;">
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row mb-2">
        <div>
            <form th:action="@{/favourites/generate-pdf}" th:method="post">
                <button class="btn btn-md btn-warning" type="submit" th:text="'Сформировать PDF'"></button>
            </form>
        </div>
    </div>

    <!--Пагинация-->
    <nav>
        <ul class="pagination justify-content-center mt-5 mb-5">
            <!--Пред-->
            <div th:if="${favourites.hasPrevious()}">
                <li class="page-item disabled">
                    <form th:action="@{/favourites}" method="get">
                        <input type="hidden" name="page" th:value="${favourites.previousPageable().pageNumber}"/>
                        <input type="hidden" name="size" th:value="${favourites.previousPageable().pageSize}"/>
                        <input class="page-link" type="submit" value="Пред."/>
                    </form>
                </li>
            </div>

            <!--След-->
            <div th:if="${favourites.hasNext()}">
                <li class="page-item">
                    <form th:action="@{/favourites}" method="get">
                        <input type="hidden" name="page" th:value="${favourites.nextPageable().pageNumber}"/>
                        <input type="hidden" name="size" th:value="${favourites.nextPageable().pageSize}"/>
                        <input class="page-link" type="submit" value="След."/>
                    </form>
                </li>
            </div>
        </ul>
    </nav>

    <!--Кнопка "Очистить"-->
    <form class="mt-5" th:action="@{/favourites/clear}" th:method="post">
        <input class="btn btn-danger btn-md mb-5" type="submit" value="Очистить" onclick="clearFavourites()">
    </form>
</div>
<div th:insert="~{/partials/footer :: footer}"></div>

<script>
    function clearFavourites() {
        confirm("Вы уверены, что хотите очистить список избранных вакансий?")
    }
</script>

</body>
</html>