<!doctype html>
<html lang="en">
<div th:insert="~{/partials/head :: head}"></div>
<body>
<div th:insert="~{/partials/navbar :: navbar}"></div>

<!--Список вакансий-->
<div class="container mt-5">
    <div th:if="${error}" th:text="${error}" style="color: red"></div>
    <div th:if="${success}" th:text="${success}" style="color: green"></div>
    <div style="height: 10vh;"></div>
    <div th:if="${vacancies.isEmpty()}" class="alert alert-warning" role="alert">
        Список вакансий пуст!
    </div>
    <!--Отменить-->
    <form id="cancelSearchForm" class="text-center" th:method="post" th:action="@{/}">
        <!--                <input type="hidden" th:value="true" name="isConsumingCancelled">-->
        <input class="btn btn-md btn-warning mt-3" type="submit" value="Отменить">
    </form>

    <div th:if="${!vacancies.isEmpty()}" id="vacanciesList" class="row align-items-center vh-100 mt-3">
        <div class="col-12 mx-auto">
            <div class="row">
                <h2 class="text-center">Все вакансии</h2>
                <div th:each="vacancy : ${vacancies}" class="col-lg-3">
                    <div class="card mb-4" style="width: 18rem; height: 25rem;">
                        <!--Заголовок-->
                        <div class="card-header bg-dark text-center" style="height: 3rem;">
                            <div class="row">
                                <div class="col-10">
                                    <a th:href="${vacancy.source}" style="text-decoration: none; color: white"
                                       target="_blank">
                                        <h5 class="card-title" th:text="${#strings.abbreviate(vacancy.title, 18)}"
                                            style="width: auto"></h5>
                                    </a>
                                </div>
                                <div class="col-2">
                                    <form th:action="@{/favourites}" th:method="post" th:object="${favouriteDto}">
                                        <input type="hidden" name="title" th:value="${vacancy.title}">
                                        <input type="hidden" name="date" th:value="${vacancy.date}">
                                        <input type="hidden" name="company" th:value="${vacancy.company}">
                                        <input type="hidden" name="schedule" th:value="${vacancy.schedule}">
                                        <input type="hidden" name="source" th:value="${vacancy.source}">
                                        <input type="hidden" name="logo" th:value="${vacancy.logo}">

                                        <button type="submit" style="background: none; border: none;">
                                            <img id="starImage" src="/images/star-light.png" alt=""
                                                 style="max-width: 100%; max-height: 100%"
                                                 title="Добавить в избранное">
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!--Картинка-->
                        <div class="card-body d-flex justify-content-center align-items-center"
                             style="height: 12rem; width: inherit;">
                            <img th:if="${vacancy.logo != null}" class="card-img-top" th:src="${vacancy.logo}"
                                 style="max-height: 100%; max-width: 75%;">
                            <img th:if="${vacancy.logo == null}" class="card-img-top"
                                 th:src="@{/images/no-image.png}"
                                 style="max-height: 100%; max-width: 75%;">
                        </div>

                        <!--Описание вакансии-->
                        <div class="card-body" style="height: 9rem">
                            <p class="card-text"
                               th:text="${#strings.abbreviate(#strings.replace(vacancy.description, 'Описание вакансии О компании и команде ', ''), 70)}">
                                <!--th:text="${ #strings.abbreviate(vacancy.description, 110)}"--></p>
                        </div>

                        <!-- Подробнее кнопка -->
                        <div class="d-flex justify-content-between p-2">
                            <a th:href="'https://' + ${#strings.arraySplit(vacancy.source, '/')[1]}"
                               th:text="${#strings.arraySplit(vacancy.source, '/')[1]}" target="_blank"></a>

                            <a th:href="@{/{id}(id=${vacancy.id})}" class="btn btn-warning mb-2"
                               style="max-width: 10rem;">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Кнопка "Очистить"-->
        <div id="clearButton">
            <form class="mt-5" th:action="@{/vacancies/clear}" th:method="post">
                <input class="btn btn-danger btn-md mb-5" type="submit" value="Очистить"
                       onclick="confirm('Вы уверены, что хотите очистить список вакансий?')">
            </form>
        </div>

        <!--Пагинация-->
        <div>
            <nav>
                <ul class="pagination justify-content-center mt-5 mb-5">
                    <!--Пред-->
                    <div th:if="${vacancies.hasPrevious()}">
                        <li class="page-item disabled">
                            <form th:action="@{/vacancies}" method="get">
                                <input type="hidden" name="page"
                                       th:value="${vacancies.previousPageable().pageNumber}"/>
                                <input type="hidden" name="size"
                                       th:value="${vacancies.previousPageable().pageSize}"/>
                                <input class="page-link" type="submit" value="Пред."/>
                            </form>
                        </li>
                    </div>

                    <!--След-->
                    <div th:if="${vacancies.hasNext()}">
                        <li class="page-item">
                            <form th:action="@{/vacancies}" method="get">
                                <input type="hidden" name="page" th:value="${vacancies.nextPageable().pageNumber}"/>
                                <input type="hidden" name="size" th:value="${vacancies.nextPageable().pageSize}"/>
                                <input class="page-link" type="submit" value="След."/>
                            </form>
                        </li>
                    </div>
                </ul>
            </nav>
        </div>
    </div>
    <div style="height: 25vh;"></div>
</div>

<div th:insert="~{/partials/footer :: footer}"></div>
</body>
</html>