<div th:fragment="navbar" xmlns:sec="http://www.w3.org/1999/xhtml">
    <style>
        .navbar-nav .dropdown-menu .dropdown-item:hover,
        .navbar-nav .dropdown-menu .dropdown-item:active {
            color: #212529;
            background-color: #ffc107;
        }

        .navbar-nav .dropdown-menu .dropdown-item:focus {
            color: #424649;
            background-color: #ffca2c;
        }
    </style>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">JobHunter</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/}">Главная</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link active" aria-current="page" th:href="@{/favourites}">Избранное</a>
                    </li>
                </ul>

                <!--Личный кабинет-->
                <div sec:authorize="isAuthenticated()">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                               aria-expanded="false">Личный кабинет</a>

                            <ul class="dropdown-menu">
                                <!--Профиль-->
                                <li><a class="dropdown-item" th:href="@{/account-info}"
                                       style="text-decoration: none">Профиль</a></li>

                                <!--Сменить имя пользователя-->
<!--                                <li><a class="dropdown-item" th:href="@{/change-username}"-->
<!--                                       style="text-decoration: none">Сменить имя пользователя</a></li>-->

                                <!--Сменить пароль-->
                                <li><a class="dropdown-item" th:href="@{/change-password}"
                                       style="text-decoration: none">Сменить пароль</a></li>

                                <!--Панель администратора-->
                                <div sec:authorize="hasAuthority('ADMIN')">
                                    <li><a class="dropdown-item" th:href="@{/admin}"
                                           style="text-decoration: none; color: dimgrey">Панель администратора</a></li>
                                </div>

                                <!--Выйти-->
                                <li>
                                    <form class="dropdown-item navbar-text pe-3" th:action="@{/logout}"
                                          th:method="post">
                                        <input type="submit" value="Выйти"
                                               style="background: none;	border: none;"/>
                                    </form>
                                </li>

                            </ul>

                        </li>
                    </ul>
                </div>

                <!--Выйти-->
                <div sec:authorize="isAuthenticated()">

                </div>

                <div sec:authorize="!isAuthenticated()">
                    <span class="navbar-text pe-3"><a th:href="@{/sign-up}" style="text-decoration: none">Зарегистрироваться</a></span>
                    <span class="navbar-text pe-3"><a th:href="@{sign-in}"
                                                      style="text-decoration: none">Войти</a></span>
                </div>
            </div>
        </div>
    </nav>
</div>