<!doctype html>
<html lang="en">
<div th:insert="~{/partials/head :: head}"></div>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .text-center {
        text-align: center;
    }

    .about-text {
        line-height: 1.6;
        font-size: 16px;
    }

    .about-text ol {
        padding-left: 20px;
    }

    .spacer {
        height: 50px; /* Высота пространства для выравнивания контента */
    }
</style>
<body>
<div th:insert="~{/partials/navbar :: navbar}"></div>

<main>
    <div class="spacer"></div> <!-- Добавляем пространство сверху для выравнивания контента -->
    <div class="container">
        <h2 class="text-center mb-5">JobHunter</h2>
        <div class="about-text">
            <p>Добро пожаловать в JobHunter!</p>
            <p>Мы в JobHunter стремимся помочь людям находить идеальные вакансии и развивать свою карьеру. Наша цель - сделать поиск работы проще, удобнее и более эффективным для каждого.</p>
            <p>Что делает нас особенными:</p>
            <ol>
                <li>Широкий выбор вакансий: Мы предлагаем широкий выбор вакансий от ведущих компаний по всему миру. Независимо от вашего опыта и квалификации, у нас есть что-то для каждого.</li>
                <li>Простой и интуитивно понятный интерфейс: Наш веб-сайт разработан с учетом удобства пользователей. Навигация по сайту легка и понятна, а поиск вакансий - быстрый и эффективный.</li>
                <li>Персонализированный подход: Мы стремимся предоставить вам вакансии, наиболее подходящие вашему профилю и предпочтениям. Наша система рекомендаций поможет вам найти работу, которая соответствует вашим ожиданиям.</li>
                <li>Поддержка пользователей: Наша команда всегда готова помочь вам в решении любых вопросов или проблем. Мы ценим каждого нашего пользователя и стремимся обеспечить высокий уровень обслуживания.</li>
            </ol>
            <p>Надеемся, что вы найдете наш сайт полезным и вдохновляющим в вашем поиске работы и карьерного роста. Спасибо, что выбрали JobHunter!</p>
        </div>
    </div>
    <div class="spacer"></div> <!-- Добавляем пространство снизу для выравнивания контента -->
    <div style="height: 10vh"></div>
</main>

<div th:insert="~{/partials/footer :: footer}"></div>
</body>
</html>