<!doctype html>
<html lang="en">
<div th:insert="~{/partials/head :: head}"></div>
<body>
<style>
    .centered-text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
</style>
<div th:insert="~{/partials/navbar :: navbar}"></div>
<div class="centered-text">
    <h4>Что-то пошло не так...</h4>
    <a class="btn btn-md btn-warning" onclick="history.back()">Назад</a>
</div>
<div th:insert="~{/partials/footer :: footer}"></div>
</body>
</html>