<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<form th:action="@{/}" th:method="post">
    <input type="text" name="title" value="Запрос">
    <input type="submit" value="Отправить">
    <br>
</form>

<table border="1">
    <thead>
    <tr>
        <td>Название</td>
        <td>Зарплата</td>
        <td>Требования</td>
        <td>График работы</td>
        <td>Компания</td>
        <td>Описание</td>
        <td>Дата публикации</td>
        <td>Ссылка</td>
    </tr>
    </thead>
    <tbody>
    <tr th:unless="${#lists.isEmpty(vacancies)}" th:each="vacancy : ${vacancies}">
        <td th:text="${vacancy.title}"></td>
        <td th:text="${vacancy.salary}"></td>
        <td th:text="${vacancy.requirements}"></td>
        <td th:text="${vacancy.schedule}"></td>
        <td th:text="${vacancy.company}"></td>
        <td th:text="${#strings.abbreviate(vacancy.description, 50)}"></td>
        <td th:text="${vacancy.date}"></td>
        <td th:text="${vacancy.source}"></td>
    </tr>
    </tbody>
</table>

<div>
    <table>
        <tbody>
        <tr>
            <td>
                <!--Prev.-->
                <span th:if="${vacancies.hasPrevious()}">
                        <form th:action="@{/}" method="get">
                            <input type="hidden" name="page" th:value="${vacancies.previousPageable().pageNumber}"/>
                            <input type="hidden" name="size" th:value="${vacancies.previousPageable().pageSize}"/>
                            <input type="submit" value="<-"/>
                        </form>
                    </span>
            </td>
            <td>
                <!--Next-->
                <span th:if="${vacancies.hasNext()}">
                        <form th:action="@{/}" method="get">
                            <input type="hidden" name="page" th:value="${vacancies.nextPageable().pageNumber}"/>
                            <input type="hidden" name="size" th:value="${vacancies.nextPageable().pageSize}"/>
                            <input type="submit" value="->"/>
                        </form>
                    </span>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
</div>
</body>
</html>